.items{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh 20vh;
    grid-gap: 5px;
    border: none;
    background: linear-gradient(90deg, rgba(41,54,103,1) 23%, rgba(33,41,87,1) 30%, rgba(54,32,91,1) 54%, rgba(15,21,74,1) 74%, rgba(22,1,31,1) 100%);
}

.area_form{
   grid-column: 1 / span 2;
   grid-row: 1 / span 5;
   background: linear-gradient(90deg, rgba(41,54,103,1) 23%, rgba(33,41,87,1) 30%, rgba(54,32,91,1) 54%, rgba(15,21,74,1) 74%, rgba(22,1,31,1) 100%);

}

.row{
    background: linear-gradient(90deg, rgba(8,119,217,0.7861519607843137) 23%, rgba(71,89,189,0.7777485994397759) 30%, rgba(124,66,223,0.7665441176470589) 54%, rgba(117,27,198,0.7917542016806722) 74%, rgba(230,67,242,0.7777485994397759) 100%);
    color: white;
    font-size: 40px;
    text-align: center;
    border: 1px solid white;
    
}

a:link {
    text-decoration: none;
  }

.logo{
    grid-column: 3/ span 2;
    grid-row: 2 / span 3;
    text-align: center;
}


